*{
    margin: 0;
    padding: 0 auto;
}
ul,ol,li,i,a{
    text-decoration: none;
    list-style: none;
}

/* ==========header section start========== */
.header-part{
    background-image: url('../images/donation1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 72px;
    padding-top: 180px;
    padding-right: 30%;
    padding-left: 30%;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}
.header-part p {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    padding-right: 35%;
    padding-left: 35%;
    margin-bottom: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 50px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin-left: 45%;
}
/* ==========header section end========== */
/* ==========donation section start========== */
.donation-part h2{
    color: #000000;
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
    font-weight: 700;
}

.donation-part p{
    color: #000000;
    text-align: center;
    margin-top: 30px;
    padding-right: 35%;
    padding-left: 35%;
    margin-bottom: 50px;
}
.button-items{
    align-items: flex-end;

}
li{
    padding: 40px;
    border: 1px solid rgb(126, 125, 125);
    display: inline-flex;
    margin-left: 100px;
}
.second-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 50px;
    border-radius: 10px 0px 10px 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 45%;
    margin-top: 50px;
}
/* ==========donation section end========== */

/* ==========donation plan start========== */
.card-section{
    display: flex;
    align-content: space-between;
    margin-top: 100px;
}
.area {
    width: 300px;
    height: 250px;
}
.area {
    box-shadow: 0 8px 16px 0 rgba(92, 65, 65, 0.2);
    transition: 0.4s;
    background: #b4d6ec;
  }
.area:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
  }
.container {
    padding: 2px 16px;
  }
.area h4{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ==========donation plan end========== */

/* ==========depend plan start========== */
.flexible-container {
    display: flex;
    margin-bottom: 150PX;
}
.depend-plan{
    margin-top: 50px;
}

.orange-color {
    color: orange;
}
.half-width h3{
    font-size: 50px;
    color: #000000;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 30px;

}
.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;

}

.half-width img {
    width: 80%;
    margin-top: 40px;
}
.half-width a {
    font-size: 22px;
}
.half-width p {
    margin-bottom: 50px;
    font-size: 20px;
}

.contribute-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 100px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

/* ==========depend plan end========== */



.update-part h1{
    color: #000000;
    font-size: 40px;
    font-weight: 700;
}

.update-part p{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-left: 35%;
    margin-right: 35%;
}

.box{
    width: 60%;
    height: 300px;
    background: #f5ebbf;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
}
.box-item{
    padding-left: 25%;
    padding-top: 10%;
}
input{
    background: rgb(211, 211, 211);
    border: none;
    padding: 20px 300px 20px 10px;
}

button{
    background: tomato;
    border: none;
    padding: 20px 50px;
}

footer{
    background: rgb(36, 24, 109);
    padding-top: 100px;
    padding-bottom: 100px;
}
footer h3{
    text-align: center;
    font-size: 30px;
    color: tomato;

}
footer p{
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 30px;
}